<section id="intro">
    <div class="intro-container">
        <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators"></ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active" style="background-image: url({{ 'assets/images/banner/1.jpg' | relative_url }});">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2>XDAG:基于DAG的全新数字加密货币</h2>
                            <p>XDAG是一种新的有向无环图（DAG）技术的应用，它解决了当前区块链技术面临的问题. </p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item " style="background-image: url({{ 'assets/images/banner/2.png'  | relative_url }});">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2>第一个可挖的DAG</h2>
                            <p style="white-space:nowrap;">主链的设计理念:区块 = 交易 = 地址 <br/>每64秒产生新的货币</p>
                        </div>
                    </div>
                </div>

                <div class="carousel-item" style="background-image: url({{ 'assets/images/banner/3.jpg'  | relative_url }});">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2>无预挖、无ICO</h2>
                            <p>XDAG提供了尖端技术，解决了其他加密货币面临的问题提供了去中心化的解决方案。XDAG没有预挖,没有ICO，是一个真正的社区驱动项目，由一个有着共同的目标和具有创新精神的开发团队开发.</p>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

        </div>
    </div>
</section>