<footer id="footer">
    <div class="link">
        <div class="container">
            <div class="row">
                <div class="col-md-2">友情链接：</div>
                <div class="col-md-10">
                    <ul>
                        <li><a href="http://I.bishijie.com" target="_blank" rel="nofollow"><img src="../assets/images/bishijie.png" alt=""></a></li>
                        <li><a href="http://coinbat.com" target="_blank" rel="nofollow"><img src="../assets/images/coinbat.png" alt=""></a></li>
                        <li><a href="http://xdagscan.com" target="_blank"><img src="../assets/images/xdagscan.png" alt=""></a></li>
                        <li><a href="http://xdag.io" target="_blank" rel="nofollow"><img src="../assets/images/xdagio.png" alt=""></a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-6 footer-info">
                    <img src="{{ '/assets/images/logo.svg' | absolute_url }}" height="60" alt="Dagger, by the community" />
                    <div class="community_wallets">
                        <p class="mb-3">请支持我们的基金会: </p>
                        <p class="btmWallet">捐赠 XDAG: {{ site.community_wallet }}</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 footer-links">
                    <h4>有用的链接</h4>
                    <ul>
                        <li><a href="{{ 'index.html' | relative_url }}">首页</a></li>
                        <li><a href="http://xdagscan.com/" target="_blank">浏览器</a></li>
                        <li><a href="{{ 'index.html#mining' | relative_url }}">挖矿入门</a></li>
                        <li><a href="{{ 'index.html#wallet' | relative_url }}">软件</a></li>
                        <!--<li><a href="{{ 'blog/index.html' | relative_url }}">新闻</a></li>-->
                        <li><a href="http://xdag.top/assets/images/whitepaper.pdf" target="_blank">白皮书</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
<script src="{{ '/assets/lib/jquery/jquery.min.js' | absolute_url }}"></script>
<script src="{{ '/assets/lib/jquery/jquery-migrate.min.js' | absolute_url }}"></script>
<script src="{{ '/assets/lib/bootstrap/js/bootstrap.bundle.min.js' | absolute_url }}"></script>
<script src="{{ '/assets/lib/easing/easing.min.js' | absolute_url }}"></script>
<script src="{{ '/assets/lib/wow/wow.min.js' | absolute_url }}"></script>
<script src="{{ '/assets/js/superfish.custom.js' | absolute_url }}"></script>
<script src="{{ '/assets/js/main.js' | absolute_url }}"></script>