{% include head.html %}
    <link href="{{ '/assets/lib/owlcarousel/assets/owl.carousel.min.css' | absolute_url }}" rel="stylesheet">
    <link href="{{ '/assets/lib/lightbox/css/lightbox.min.css' | absolute_url }}" rel="stylesheet">
    <link href="{{ '/assets/css/home.css' | absolute_url }}" rel="stylesheet">
</head>

<body>
{% include header.html %}
<div class="mask"></div>
<div class="playbrdr">
    <div class="videoclose"><i class="ion-ios-close-circle-outline"></i></div>
    <iframe src="" frameborder="0" width="100%" height="100%"></iframe>
</div>
{% include banner.html %}
<main id="main">
    <section id="about">
        <div class="container">
            <header class="section-header">
                <h3>关于 Dagger</h3>
                <p>Dagger是基于DAG的新一代分布式分类账本。DAG,有向无环图, 是在分布式的分散环境中在人们中发送数据的另一种方法。这样做没有区块链，允许更大的可扩展性。</p>
            </header>
            <div class="row about-cols">
                {% for d in site.data.dagger %}
                <div class="col-md-4 wow fadeInUp" data-wow-delay="{{d.delay}}">
                    <div class="about-col">
                        <div class="img">
                            <img src="{{d.pic | absolute_url}}" alt="" class="img-fluid">
                            <div class="icon"><i class="ion-ios-unlock"></i></div>
                        </div>
                        <h2 class="title">{{ d.name }}</h2>
                        <p>{{ d.content }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="mining" id="mining">
        <div class="container">
            <header class="section-header wow fadeInUp">
                <h3>挖矿快速入门</h3>
                <p>第一个可挖矿的DAG. 根据以下步骤，如果你遇到任何问题，可以直接联系我们</p>
            </header>
            <div class="row">
                {% for d in site.data.mine %}
                <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="{{ d.delay }}">
                    <div class="icon"><i class="{{ d.pic }}"></i></div>
                    <h4 class="title">
                        {% if d.index == 0 %}<a href="#wallet">{{ d.name }}</a>{% endif%}
                        {% if d.index == 1 %}<a class="playvideo">{{ d.name }}</a>{% endif%}
                        {% if d.index == 2 %}<a class="/pools" class="pool">{{ d.name }}</a>{% endif%}
                    </h4>
                    <p class="description">{{ d.content }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <section id="wallet" class="wallets section-bg" >
        <div class="container">
            <header class="section-header">
                <h3 class="section-title">软件</h3>
                <p>下载适用于XDAG网络的应用链接</p>
            </header>
            <div class="row justify-content-center portfolio-container">
                {% for d in site.data.wallet %}
                <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="{{ d.delay }}">
                    <div class="portfolio-wrap">
                        <div class="portfolio-info">
                            <div class="icons"><i class="{{ d.pic }}"></i></div>
                            <h4><a href="{{d.href}}" target="_blank">{{ d.name }}</a></h4>
                            <p>{{ d.content }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    {% include exchanges.html %}
    {% include roadmap.html %}
    <section id="community" class="community wow fadeInUp">
        <div class="container">
            <header class="section-header">
                <h3>社区</h3>
            </header>
            <div class="row">
                {% for d in site.data.community %}
                <div class="imgbrdr col-md-3 col-sm-6 wow fadeInUp"  data-wow-duration="{{ d.delay }}" style="z-index:{{ d.zindex }}">
                    <div class="lftImg"><img src="{{ d.pic | relative_url }}"></div>
                    {% if d.type == 'qq'%}
                    <div class="qqname">点击扫描二位码<br/>加群{{ d.alt }}</div>
                    {% endif %}
                    {% if d.type == 'weixin'%}
                    <div class="qqname">点击扫描二位码<br/>关注公众号</div>
                    {% endif %}
                    <div class="qrcode dn"><img src="{{ d.qrcode | relative_url }}" ></div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
</main>
{% include footer.html %}
<script src="{{ '/assets/lib/waypoints/waypoints.min.js' | absolute_url }}"></script>
<script src="{{ '/assets/lib/owlcarousel/owl.carousel.min.js' | absolute_url }}"></script>
<script src="{{ '/assets/lib/lightbox/js/lightbox.min.js' | absolute_url }}"></script>
<script src="{{ '/assets/lib/touchSwipe/jquery.touchSwipe.min.js' | absolute_url }}"></script>
<script src="{{ '/assets/js/home.js' | absolute_url }}"></script>
</body>
</html>
